@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@import '@fortawesome/fontawesome-free/css/all.min.css';

*{
  font-family: Outfit;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

::-webkit-scrollbar{
  display: none;
}

/*@media (max-width: 640px) {*/
/*  a.active {*/
/*    background-color: #375da1;*/
/*    color: white;*/
/*  }*/
/*}*/

/*.active {*/
/*  background-color: #ffebf5;*/
/*  border-color: #4A5568;*/
/*}*/

/*select,input,textarea {*/
/*  border: 1px solid #c2c2c2;*/
/*  outline-color: #0084FF;*/
/*  border-radius: 4px;*/
/*}*/
